.styled {
    color: aqua;
}

.styled {
    color: blue;
}

.styled {
    color: brown;
}

.nav,
a {
    text-decoration: none;
    width: 300px;
}

.nav2,
a {
    text-decoration: none;
    width: 800px;
}